<div>
  <img src="assets/images/pumpkin.jpg" alt="pumpkin">
</div>


<div class="mt-3">
  <ul>
    <li 
        routerLink="disfraces" 
        routerLinkActive="bg-orange-500" 
        class="p-2 text-xl font-bold cursor-pointer hover:bg-white rounded-md">Disfraces</li>
    <li routerLink="decoracion" 
        routerLinkActive="bg-orange-500" 
        class="p-2 text-xl font-bold cursor-pointer hover:bg-white rounded-md">Decoración</li>
    <li routerLink="muñecos" 
        routerLinkActive="bg-orange-500"
        class="p-2 text-xl font-bold cursor-pointer hover:bg-white rounded-md">Muñecos</li>
    <li routerLink="maquillaje" 
        routerLinkActive="bg-orange-500"
        class="p-2 text-xl font-bold cursor-pointer hover:bg-white rounded-md">Maquillaje</li>
    <li routerLink="luces" 
        routerLinkActive="bg-orange-500"
        class="p-2 text-xl font-bold cursor-pointer hover:bg-white rounded-md">Luces</li>
  </ul>
</div>

